<!DOCTYPE html>
<html>
<head>
	<title>Flask app</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}"
</head>
<body>
<header>
	<div class = "container">
	<h1 class="logo">Advith Nagappa's Resume</h1>
	<strong><nav>
	<u1 class="menu">
	<li><a href="{{ url_for('home') }}">Home</a></li>
	<li><a href="{{ url_for('about') }}">About</a></li>
	</u1>
	</nav></strong>
	</div>
</header>
<div class="container">
	{%block content%}
	{%endblock%}
</div>
</body>
</html>