{% extends "bootstrap/base.html" %}
{% block title %}
Contact
{% endblock %}


{% block content %}
<ul class="nav nav-tabs">
  <li role="presentation"><a href="{{ url_for('index') }}">Home</a></li>
  <li role="presentation"><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
  <li role="presentation" class="active"><a href="#">Contact</a></li>
  <li role="presentation"><a href="{{ url_for('logout') }}">Logout</a></li>
  </ul>
<div class="jumbotron">
 <div class="container">
  <h1>Pascals Inc.</h1>
  <p>
  	Welcome, Please contact us here. </p>
  </div>
 <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
</div>
 
<!-- 16:9 aspect ratio -->

{% endblock %}