{% extends "bootstrap/base.html" %}


{% block content %}
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Dashboard</a></li>
  <li role="presentation"><a href="{{ url_for('contact') }}">Contact</a></li>
  <li role="presentation"><a href="{{ url_for('login') }}">Login</a></li>
  </ul>
<div class="jumbotron">
 <div class="container">
  <h1>Pascals Inc.</h1>
  <p>
  	Thank you for visiting us. We are Pascals incorporated. Please Login to browse our datasets and API's.
  </p>
  </div>
  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
</div>
<!-- 16:9 aspect ratio -->

{% endblock %}