{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='register.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='register.js')}}"></script>
{% endblock %}

{% block content %}
<div class="container">
      <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-login">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <a href="#" {% if page == 'login_page' %} class="active" {% endif %} id="login-form-link">Login</a>
              </div>
              <div class="col-xs-6">
                <a href="#" {% if page == 'signup_page' %} class="active" {% endif %} id="register-form-link">Register</a>
              </div>
            </div>
            <hr>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <form id="login-form" name="login_form" action="/login" method="POST" role="form" {% if page == 'login_page' %} style="display: block;" {% endif %} style="display: none;">
                {{ login_form.hidden_tag() }}
                  <div class="form-group">
                    
                    {{ wtf.form_field(login_form.username) }}                 

                    <!--<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">-->
                  </div>
                  <div class="form-group">

                    {{ wtf.form_field(login_form.password) }}
                    <!--<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">-->
                  </div>
                  <div class="form-group text-center">

                    {{ wtf.form_field(login_form.remember) }}
                    <!--<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                    <label for="remember"> Remember Me</label>-->
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="text-center">
                          <a href="https://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <form id="register-form" name="signup_form" action="/signup" method="POST" role="form" {% if page == 'signup_page' %} style="display: block;" {% endif %} style="display: none;">
                  {{ signup_form.hidden_tag() }}
                  <div class="form-group">
                    {{ wtf.form_field(signup_form.username) }}
                    <!--<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">-->
                  </div>
                  <div class="form-group">
                    {{ wtf.form_field(signup_form.email) }}
                    <!--<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">-->
                  </div>
                  <div class="form-group">
                    {{ wtf.form_field(signup_form.password) }}
                    <!--<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">-->
                  </div>
                  <div class="form-group">
                    {{ wtf.form_field(signup_form.confirm_password) }}
                  </div> 

                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}